.desc {
    margin: 45px 212px 0 230px;
    display: grid !important;
    grid-template-columns: 456px 456px;
    gap: 22px 40px;
    position: relative;
    flex-shrink: 0;
    max-width: 1300px;
}

.desc__last {
    margin: 45px auto 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    max-width: 1300px;
    width: 952px !important;
}

.desc__last-title {
    color: var(--dark-grey, #3A3A3A);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.desc__last-block {
    display: flex;
    gap: 40px;
}

.desc__block {
    padding: 20px 45px 20px 40px;
    border: 1px solid #F7A83D;
    border-radius: 7px;
    background: #FEF4E6;
    max-width: 454px;
    max-height: 262px;
}

.desc__title {
    margin: 0;
    /* max-width: 315px; */
    width: 371px;
    color: var(--dark-grey, #3A3A3A);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.desc__title_main {
    color: var(--dark-grey, #3A3A3A);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.desc__container {
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
}

.desc__text {
    margin: 30px 0 0;
    max-width: 295px;
    color: var(--dark-grey, #3A3A3A);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc__image {
    margin-top: 15px;
    max-width: 155px;
    max-height: 155px;
}

.desc__block2 {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    flex-shrink: 0;
    max-width: 1300px;
}

.desc__block2_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.desc__block2_three {
    background-image: url(../../images/smartphone1.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 365px;
    min-height: 643px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc__block2_three_two {
    background-image: url(../../images/smartphone5.svg);
}

.desc__block2_three_three {
    background-image: url(../../images/smartphone2.svg);
}

.desc__block2_three_four {
    background-image: url(../../images/smartphone3.svg);
}

.desc__block2_three_five {
    background-image: url(../../images/smartphone4.svg);
}

.desc__title_type {
    min-width: 510px;
    color: var(--dark-grey, #3A3A3A);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.desc__text_type {
    max-width: 430px;
    color: var(--dark-grey, #3A3A3A);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desc__button {
    cursor: pointer;
    width: 152px;
    height: 147px;
    
}

.desc__button_slider {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #F7A83D;
    border-radius: 50%;
    background: none;
}

.desc__btn_next {
    top: 35%;
    right: 8%;
}

.desc__btn_prev {
    top: 35%;
    left: 18%;
}

.cloud {
    position: absolute;
    top: 0%;
    left: 17%;
}

.cloud__text {
    color: var(--dark-grey, #3A3A3A);
    font-size: 19.666px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 20.5%;
}

.slider__image {
    max-width: 350px;
}

.desc__last-btns {
    display: flex;
    gap: 40px;
    margin: 71px auto 0;
}

.desc__last-btn {
    padding: 25px 0 16px;
    border-radius: 10px;
    border: 3px solid #F7A83D;
    background: #F7A83D;
    width: 456px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
