.header {
    max-width: 1280px;
    max-height: 166px;
    width: 100%;
    display: contents;
}

.header__container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #A30236;
    box-shadow: 0px 15px 5px -5px rgba(65, 65, 78, 0.6);
}

.header__logos {
    max-width: 100px;
    max-height: 120px;
    display: flex;
    align-items: center;
}

.header__logos-fdd {
    max-width: 99px;
    max-height: 120px;
    margin: 0 120px 0 115px
}

.header__logos-vektor {
    max-width: 92px;
    max-height: 92px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.header__menu-list {
    margin: 0 50px;
    font-weight: 500;
    font-size: 28px;
    color: #A30236;
}

.header__menu-list:last-child {
    margin-right: 20px;
}