.forms {
    border: 3px solid #A30236;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms__title {
    font-size: 40px;
    color: #3A3A3A;
    text-align: center;
}

.forms__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 100px;
}

.forms__block {
    max-width: 450px;
    text-align: center;
}

.forms__text {
    color: #3A3A3A;
    font-size: 30px;
    font-weight: 500;
}

.forms__btn-first {
    margin-top: 34px;
}

.forms__btn {
    background-color: #FCF6F6;
    border: 1px solid #A30236;
    font-weight: 400;
    font-size: 25px;
    padding: 10px 100px;
    cursor: pointer;
}
